{{#partial "contenido"}}

<header>

	<nav class="navbar navbar-default navbar-light bg-light">
 

 		<div class="container-fluid">
 			<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav navbar-right ">
      
      			<li class="nav-item">
        			<a class="nav-link" href="#">Simple</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="/Mapa">Mapa</a>
      			</li>
      			
	    		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" > dispositivo <span class="caret"></span></a>
        			<ul class="dropdown-menu" >
          				<li><a href="http://localhost:8080/usuario/{{usuario.nombre_usuario}}/inteligentes">Inteligente</a></li>
          				<li><a href="usuario/{{usuario.nombre_usuario}}/standar">Standar</a></li>
          			
          
        			</ul>
	    		</li>
    		</ul>
    		</div>
  		</div>
	</nav>
</header>


<div class="table-responsive">
	<table class="table">
	<tr>
	<td>
	<table class="table">
		<tr>
			<th>operador</th>
			<th>valor</th>
			<th>accion</th>
		</tr>
		{{#each listareglas}}
		<tr>
			<td>{{operador}} </td>
			<td>{{valorcomparacion}}</td>
			<td>{{accion}}  {{id_regla}} </td>
			
			<td>
				<div class="form-group">
				<form role="form" action="" method="GET">
	
				<button onclick="eliminar" class="btn btn-primary" name="id_regla" id="id_regla" value="{{id_regla}}">eliminar</button>
				</form>
				</div>			
			</td>
			
			
			
		</tr>
		{{/each}}
	</table>
		</td>
	</tr>
	</table>
	</div>
	
	
	
	<h3>Agregar Regla</h3>
	<div class="form-group">
	<form role="form" action="" method="GET">
		<div class="form-group">
		<div class="col-sm-12 pull-left">
		<div class="col-sm-3">
		<input type="text" class="form-control" name="regla" id="regla" placeholder="mayor menor igual">
        </div>
        <div class="col-sm-3">
		<input type="numeric" min="0" class="form-control" name="valor" id="valor"  placeholder="numero">
        </div>   
        <div class="col-sm-3">
        <input type="text" class="form-control" name="accion" id="accion" placeholder="accion">
        </div>
        
        </div>
        </br></br>
		<button onclick="agregarinteligentes" class="btn btn-primary">Agregar</button>
	</form>
	</div>
	
	<script>
	function agregarinteligentes(){
		var parametros={
						"nombreInteligente":$("#nombreinteligente").val(),
						"regla":$("#regla").val(),
						"accion":$("#accion").val()
						}
		$.ajax({
				data:parametros,
				url:"usuario/{{nombre_usuario}}/inteligentes/{{Id_Dispositivo}}/regla?regla="+$("#regla").val()+"&valor="+$("#valor").val()+"&accion="+$("#accion").val(),
				type:"GET",
				success:function(a){
									alert("Se ha agregado un inteligente");
									}
				
				});
	
	}
	
	function eliminar(){
		var parametros={
						
						"id_regla":$("#id_regla").val(),
						
						}
		$.ajax({
				data:parametros,
				url:"usuario/{{nombre_usuario}}/inteligentes/{{Id_Dispositivo}}/regla?id_regla="+$("#id_regla").val(),
				type:"GET",
				success:function(a){
									alert("Se ha agregado un inteligente");
									}
				
				});
	
	}
	
	
	</script>
	
{{/partial}}
{{>base.hbs}}