{{#partial "contenido"}}

<h1>Bienvenido {{usuario.nombre}}</h1>
	<h3>Lista de hogares </h3>
	<div class="table-responsive">
	<table class="table">
	<tr>
	<td>
	<table class="table">
		<tr>
			<th>Calle</th>
			<th>Numero</th>
			<th>Piso</th>
			<th>Departamento</th>
			<th>Consumo</th>
		</tr>
		{{#each listaClientes}}
		<tr>
			<td>{{hogar.calle}}</td>
			<td>{{hogar.numero}}</td>
			<td>{{hogar.piso}}</td>
			<td>{{hogar.departamento}}</td>
			<td>
				<a onclick="mostrar('{{id_Usuario}}')" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Calcular consumo">
                <i class="fa fa-bolt" style="width:18px"></i>
            </a>
			</td>
			
		</tr>
		{{/each}}
	</table>
		</td>
	</tr>
	</table>
	</div>
	
	<div class="modal fade" id="mensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Consumo</h3>
            </div>
            <div class="modal-body">
                <p id='lblmensaje'></p>
            </div>
        </div>
    </div>        
</div>

<script>

	function mostrar(usuario){
	console.log(usuario);
		var parametros={
						"usuario_id": usuario
						};
		$.ajax({
				data:parametros,
				url:"/consumo",
				type:"GET",
				success:function(data){
					$('#lblmensaje').html('El Consumo es '+data);
                    $("#mensaje").modal('show');
				}
		});
		
	};
	
</script>
	
{{/partial}}
{{>base.hbs}}