{{#partial "contenido"}}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
</head>
<header>

	<nav class="navbar navbar-default navbar-light bg-light">
 

 		<div class="container-fluid">
 			<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav navbar-right ">
      
      			<li class="nav-item">
        			<a class="nav-link" href="usuario/{{usuario.nombre_usuario}}/resultado">ConsultaSimplex</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="/Mapa">Mapa</a>
      			</li>
      			
	    		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" > dispositivo <span class="caret"></span></a>
        			<ul class="dropdown-menu" >
          				<li><a href="usuario/{{usuario.nombre_usuario}}/inteligentes">Inteligente</a></li>
          				<li><a href="usuario/{{usuario.nombre_usuario}}/standar">Standar</a></li>
          			
          
        			</ul>
	    		</li>
    		</ul>
    		</div>
  		</div>
	</nav>
</header>
<div>
	<h1>Bienvenido {{usuario.nombre}}</h1>
	<h3>consumo periodo  </h3>
	<h3>Puntos  {{usuario.puntos}}</h3>
	
	
	<h3>consulta consumo periodo</h3>
	
		<div class="form-group">
		<div class="col-sm-12 pull-left">
		<div class="col-sm-3">
		<input type="text" class="form-control datepicker" name="inicio" id="inicio" >
        </div>
        <div class="col-sm-3">
		<input type="text"  class="form-control datepicker" name="fin" id="fin"  >
        </div>   
        <div class="col-sm-3">
        <output type="text" class="form-control" name="resultado" id="resultado" >
        </div>
        </div>
        </br></br>
		<button onclick="consultarConsumo()" class="btn btn-primary">consultar</button>
	
	
	
</div>
	
	
<script type="text/javascript">
	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd',
	    language: 'es',
	    today:'Today',
	});
	
	function consultarConsumo(){
		var parametros={
						"fecha_inicio": $("#inicio").val(),
						"fecha_fin": $("#fin").val()
						}
		$.ajax({
				data:parametros,
				url:"/usuario/{{usuario.nombre_usuario}}/consumo",
				type:"GET",
				success:function(data){
						console.log(data);	
						$("#resultado").val(data);
				}		
				
		});
	
	}
</script>
{{/partial}}
{{>base.hbs}}