{{#partial "contenido"}}
<script>
	var a = document.querySelector('#test');
	a.innerHTML = "Bienvenido "+'{{cliente}}';
</script>
	
<div class="container">
  <h2>Lista de Usuarios</h2>          
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th>Nombre Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo Documento</th>
        <th>Numero Documento</th>
        <th>Categoria</th>
        <th>Telefono</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
    {{#each usuarios}}
    	<tr>
    	<td>{{nombre_usuario}}</td>
        <td>{{nombre}}</td>
		<td>{{apellido}}</td>
		<td>{{tipoDoc}}</td>
		<td>{{numeroDoc}}</td>
		{{#equal categoria null}}
    		<td>no tiene categoria</td>
  		{{/equal}}
		<td>{{telefono}}</td>
		<td>{{puntos}}</td>
		</tr>
     {{/each}}
    </tbody>
  </table>
</div>
	
{{/partial}}
{{>base.hbs}}